.formSize {
  width: 495px;
  height: 534px;

  padding: 16px;
  border: 1px solid #d8d8d8;
  border-radius: 15px;
  background-color: white;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

@media (max-width: 720px) {
  .formSize {
    width: 100%;
    height: auto;
  }
}
