.main {
  width: 100%;
  height: 100%;
  background-color: #e7e8eb;
  overflow: hidden;
  overflow-y: auto;

  padding: 60px 65px;
  position: relative;
  flex: 1;
}

@media (max-width: 720px) {
  .main {
    padding: 74px 18px 72px;
  }
}

@media (max-height: 720px) and (orientation: landscape) {
  .main {
    padding: 16px;
  }
}
