/* 헤더 좌측 */
.left {
  width: 50%;
  max-width: 750px;
  display: flex;
}

.title {
  line-height: 18px;
  font-size: 15px;
}

@media (max-width: 720px) {
  .left {
    width: 100%;
  }

  .addCategoryBox {
    display: none;
  }
}
