/* 헤더 우측 */
.right {
  display: flex;
  font-size: 0.9rem;
}

.right li {
  width: auto;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;

  cursor: default;
}

.time div {
  color: #b4b4b4;
  font-weight: 600;
  border-left: 1px solid #e7e8eb;
  border-right: 1px solid #e7e8eb;
  padding: 4px 12px;
}

@media (max-width: 720px) {
  .right {
    display: none;
  }
}
