.listBox {
  width: 100%;
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  cursor: pointer;
  font-weight: 600;
}

.title {
  position: relative;
}

.alertStatus {
  width: 8px;
  height: 8px;
  background-color: #4caff8;
  border-radius: 50%;
  position: absolute;
  right: -50%;
  top: 60%;
  transform: translateY(-50%);
  animation: blink 1s step-start infinite;
}
.alertStatus.moreAlert {
  background-color: #f84c4c;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.clicked .title {
  color: #4caff8;
}

@media (max-width: 720px) {
  .title {
    font-size: 16px;
  }

  .alertStatus {
    width: 5px;
    height: 5px;
    top: 50%;
  }
}
